@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
    font-family: "Open Sans", serif !important;
}

p {
    font-size: 1.2em;
}

.image-container {
    background: #F4F4F4;
}

.image-container .img-fluid {
    margin: auto;
    display: block;
    max-height: 600px;
}

.canvas-container {
    background: #F4F4F4;
    display: flex;
    justify-content: center;
    max-height: 600px;
}

.footer {
    height: 300px;
}

.value {
    font-size: 1em;
}