@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
    font-family: "Open Sans", serif !important;
}

p {
    font-size: 1.2em;
}

.container {
    height: 7em;
}

.container .img-fluid {
    max-height: 100%;
}