<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Лаб. работа №1</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '../static/css/styles.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/bootstrap.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-7 mt-2">
            <h4 class="text-center"><b>Image Editor</b></h4>

            <hr class="my-3">

            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <p class="mt-4"><b>Upload Image</b></p>
                {{ image_form.image }}
                <input class="btn btn-primary mt-2" type="submit" value="Upload">
            </form>

            {% if image %}
            <div>
                <p class="mt-4" id="original-image-label"><b>Original Image ({{ image_size }})</b></p>
                <div class="image-container">
                    <img class="img-fluid" src="{{ image }}" alt="" id="image">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p class="mt-2"><b>Scope</b></p>
                    <canvas id="canvas" width="130" height="130"></canvas>
                </div>
                <div class="col">
                    <p class="mt-2"><b>Center Pixel</b></p>
                    <p id="coordinates"></p>
                    <p id="rgb-values"></p>
                    <p id="intensity"></p>
                </div>
                <div class="col">
                    <p class="mt-2"><b>Scope Info</b></p>
                    <p id="scope-info"></p>
                    <canvas id="scope_plot" width="400" height="300"></canvas>
                </div>
            </div>

            <hr class="my-5">

            <div class="text-center">
                <div class="btn-group" role="group">
                    <input type="radio" class="btn-check" name="btnradio" id="luminosity" autocomplete="off"
                           onclick="luminosity()" checked>
                    <label class="btn btn-outline-primary" for="luminosity">Luminosity</label>

                    <input type="radio" class="btn-check" name="btnradio" id="red" autocomplete="off" onclick="red()">
                    <label class="btn btn-outline-primary" for="red">Red</label>

                    <input type="radio" class="btn-check" name="btnradio" id="green" autocomplete="off"
                           onclick="green()">
                    <label class="btn btn-outline-primary" for="green">Green</label>

                    <input type="radio" class="btn-check" name="btnradio" id="blue" autocomplete="off" onclick="blue()">
                    <label class="btn btn-outline-primary" for="blue">Blue</label>
                </div>

                <img class="img-fluid" src="{{ luminosity_plot }}" alt="" id="rgb_plot">
            </div>

            <hr class="my-5">

            <div class="container mt-2">
                <div class="row">
                    <div class="col text-start">
                        <label class="col-form-label" for="blur_group">Blur Image</label>
                    </div>
                    <div class="col-8 text-end">
                        <div class="btn-group w-100" role="group" id="blur_group">
                            <button class="btn btn-outline-primary" type="submit" onclick="blurByEightPixels()">
                                By 8 pixels around
                            </button>
                            <button class="btn btn-outline-primary" type="submit" onclick="blurByFourPixels()">
                                By 4 pixels around
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col text-start">
                        <label class="col-form-label" for="flip_group">Flip Image</label>
                    </div>
                    <div class="col-8 text-end">
                        <div class="btn-group w-100" role="group" id="flip_group">
                            <button class="btn btn-outline-primary" type="submit" onclick="flipHorizontally()">
                                Horizontally
                            </button>

                            <button class="btn btn-outline-primary" type="submit" onclick="flipVertically()">
                                Vertically
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col text-start">
                        <label class="col-form-label" for="channels_exchange_group">Change Channels</label>
                    </div>
                    <div class="col-8 text-end">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="From -255 to 255"
                                   id="change_channel">
                            <button class="btn btn-outline-primary" type="button" id="change_intensity"
                                    onclick="changeIntensity()">
                                Intensity
                            </button>
                            <button class="btn btn-outline-primary" type="button" id="change_red" onclick="changeRed()">
                                Red
                            </button>
                            <button class="btn btn-outline-primary" type="button" id="change_green"
                                    onclick="changeGreen()">
                                Green
                            </button>
                            <button class="btn btn-outline-primary" type="button" id="change_blue"
                                    onclick="changeBlue()">
                                Blue
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col text-start">
                        <label class="col-form-label" for="channels_exchange_group">Exchange Channels</label>
                    </div>
                    <div class="col-8 text-end">
                        <div class="input-group" id="channels_exchange_group">
                            <select class="form-select" id="channel_from">
                                <option selected>Select Channel</option>
                                <option value="1">Red</option>
                                <option value="2">Green</option>
                                <option value="3">Blue</option>
                            </select>
                            <select class="form-select" id="channel_to">
                                <option selected>Select Channel</option>
                                <option value="1">Red</option>
                                <option value="2">Green</option>
                                <option value="3">Blue</option>
                            </select>
                            <button class="btn btn-outline-primary" type="button" id="change_channels"
                                    onclick="exchangeChannelsGeneral()">
                                Exchange
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col text-start">
                        <label class="col-form-label" for="negative_group">Channel Negative</label>
                    </div>
                    <div class="col-8 text-end">
                        <div class="btn-group w-100" role="group" id="negative_group">
                            <button class="btn btn-outline-primary" type="submit" onclick="intensityChannelNegative()">
                                Intensity
                            </button>
                            <button class="btn btn-outline-primary" type="submit" onclick="redChannelNegative()">
                                Red
                            </button>
                            <button class="btn btn-outline-primary" type="submit" onclick="greenChannelNegative()">
                                Green
                            </button>
                            <button class="btn btn-outline-primary" type="submit" onclick="blueChannelNegative()">
                                Blue
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col text-start">
                        <label class="col-form-label" for="contrast_group">Image Contrast</label>
                    </div>
                    <div class="col-8 text-end">
                        <div class="input-group" id="contrast_group">
                            <input type="text" class="form-control" placeholder="From -100 to 100" id="contrast_value">
                            <button class="btn btn-outline-primary" type="button" onclick="contrast()">
                                Change
                            </button>
                        </div>
                    </div>
                </div>

                <hr class="my-5">

                <div class="row mt-2">
                    <div class="col text-start">
                        <label class="col-form-label">Log Transformation</label>
                    </div>
                    <div class="col-7 text-end">
                        <button class="btn btn-outline-primary w-100" type="submit" id="logBtn">
                            Transform
                        </button>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col text-start">
                        <label class="col-form-label">Backward Log Transformation</label>
                    </div>
                    <div class="col-7 text-end">
                        <button class="btn btn-outline-primary w-100" type="submit" id="backwardLogBtn">
                            Transform
                        </button>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col text-start">
                        <label class="col-form-label">Power Law Transformation</label>
                    </div>
                    <div class="col-7 text-end">
                        <div class="input-group" id="powerLawGroup">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Gamma</span>
                            </div>
                            <input type="text" class="form-control" placeholder="From ??? to ???" id="powerLawInput">
                            <button class="btn btn-outline-primary" type="submit" id="powerLawBtn">
                                Transform
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col text-start">
                        <label class="col-form-label">Binary Transformation</label>
                    </div>
                    <div class="col-7 text-end">
                        <div class="input-group" id="binaryGroup">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Threshold</span>
                            </div>
                            <input type="text" class="form-control" placeholder="From 0 to 255" id="binaryInput">
                            <button class="btn btn-outline-primary" type="submit" id="binaryBtn">
                                Transform
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col text-start">
                        <label class="col-form-label">Bit Plane Slicing</label>
                    </div>
                    <div class="col-7 text-end">
                        <div class="input-group" id="bitPlaneSlicingGroup">
                            <input type="text" class="form-control" placeholder="From 8 to 1" id="bitPlaneSlicingInput">
                            <button class="btn btn-outline-primary" type="submit" id="bitPlaneSlicingBtn">
                                Transform
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col text-start">
                        <label class="col-form-label">Square Filter</label>
                    </div>
                    <div class="col-7 text-end">
                        <div class="input-group" id="squareFilterGroup">
                            <select class="form-select" id="squareFilterInput">
                                <option selected>Select kernel size</option>
                                <option value="3">3x3</option>
                                <option value="5">5x5</option>
                            </select>
                            <button class="btn btn-outline-primary" type="submit" id="squareFilterBtn">
                                Transform
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col text-start">
                        <label class="col-form-label">Median Filter</label>
                    </div>
                    <div class="col-7 text-end">
                        <div class="input-group" id="medianFilterGroup">
                            <select class="form-select" id="medianFilterInput">
                                <option selected>Select kernel size</option>
                                <option value="3">3x3</option>
                                <option value="5">5x5</option>
                            </select>
                            <button class="btn btn-outline-primary" type="submit" id="medianFilterBtn">
                                Transform
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <p class="mt-4" id="processed-image-label"><b>Processed Image</b></p>

            <div class="canvas-container">
                <canvas id="processed_image_canvas" height="0"></canvas>
            </div>

            <div class="text-center">
                <p><small>Right-click on processed image to save.</small></p>
            </div>

            {% endif %}

        </div>
        <div class="col"></div>
    </div>
</div>

<div class="footer"></div>

<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
<script src="{% static '../static/js/scope.js' %}"></script>
<script src="{% static '../static/js/processing.js' %}"></script>
<script src="{% static '../static/js/driver.js' %}"></script>
<script type="text/javascript">
    let chart;

    function red() {
        $("#rgb_plot").attr("src", "{{ red_plot }}");
    }

    function green() {
        $("#rgb_plot").attr("src", "{{ green_plot }}");
    }

    function blue() {
        $("#rgb_plot").attr("src", "{{ blue_plot }}");
    }

    function luminosity() {
        $("#rgb_plot").attr("src", "{{ luminosity_plot }}");
    }

    image.addEventListener('click', function (e) {
        let x = e.pageX - image.offsetLeft;
        let y = e.pageY - image.offsetTop;

        let pixels = changeScope(x, y);

        let valDict = {};
        for (let i = 0; i < 256; i++) {
            valDict[i] = 0;
        }

        for (const pixel of pixels) {
            valDict[Math.round((pixel[0] + pixel[1] + pixel[2]) / 3)] += 1;
        }

        let plotCtx = document.getElementById('scope_plot').getContext('2d');

        if (chart instanceof Chart) {
            chart.destroy();
        }
        chart = new Chart(plotCtx, {
            type: 'bar',
            data: {
                labels: Object.keys(valDict),
                datasets: [{
                    label: 'Scope Intensity',
                    data: Object.values(valDict),
                    backgroundColor: '#4285f4',
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    });

    let logBtn = document.getElementById('logBtn');
    let backwardLogBtn = document.getElementById('backwardLogBtn');
    let powerLawBtn = document.getElementById('powerLawBtn');
    let binaryBtn = document.getElementById('binaryBtn');
    let bitPlaneSlicingBtn = document.getElementById('bitPlaneSlicingBtn');
    let squareFilterBtn = document.getElementById('squareFilterBtn');
    let medianFilterBtn = document.getElementById('medianFilterBtn');

    logBtn.addEventListener('click', function () {
        getProcessedImage('log/', 'log');
    });

    backwardLogBtn.addEventListener('click', function () {
        getProcessedImage('backward_log/', 'backward_log');
    });

    powerLawBtn.addEventListener('click', function () {
        let param = parseInt(document.getElementById('powerLawInput').value);
        getProcessedImage('power_law/', 'power_law', param);
    });

    binaryBtn.addEventListener('click', function () {
        let param = parseInt(document.getElementById('binaryInput').value);
        getProcessedImage('binary/', 'binary', param);
    });

    bitPlaneSlicingBtn.addEventListener('click', function () {
        let param = parseInt(document.getElementById('bitPlaneSlicingInput').value);
        getProcessedImage('bit_plane_slicing/', 'bit_plane_slicing', param);
    });

    squareFilterBtn.addEventListener('click', function () {
        let param = parseInt(document.getElementById('squareFilterInput').value);
        getProcessedImage('square_filter/', 'square_filter', param);
    });

    medianFilterBtn.addEventListener('click', function () {
        let param = parseInt(document.getElementById('medianFilterInput').value);
        getProcessedImage('median_filter/', 'median_filter', param);
    });

    function getProcessedImage(url, method, param = null) {
        imageCanvas.toBlob(function (blob) {
            let data = new FormData();
            data.append('image', blob, 'image.png');
            data.append('method', method);
            if (param !== null) {
                data.append('param', param);
            }
            ajaxPost(url, data);
        });
    }

    function ajaxPost(url, data) {
        $.ajax({
            method: 'POST',
            url: url,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            },
            data: data,
            processData: false,
            contentType: false,
            mimeType: 'multipart/form-data',
            success: function (response) {
                let img = JSON.parse(response)['image'];
                let processedImage = new Image();
                processedImage.onload = function () {
                    ctx.drawImage(processedImage, 0, 0);
                };
                processedImage.src = img;
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
</script>
</body>
</html>