<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Лаб. работа №1</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '../static/css/styles.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/bootstrap.css' %}">
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-7 mt-2">
            <p><b>Загрузка и обработка изображений</b></p>

            <hr>

            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <p class="mt-4"><b>Upload Image</b></p>
                {{ image_form.image }}
                <input class="btn btn-primary mt-2" type="submit" value="Upload">
            </form>

            {% if image %}
            <div>
                <p class="mt-4" id="original-image-label"><b>Original Image</b></p>
                <div class="image-container">
                    <img class="img-fluid" src="{{ image }}" alt="" id="image">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p class="mt-2"><b>Scope</b></p>
                    <canvas id="canvas" width="130" height="130"></canvas>
                </div>
                <div class="col">
                    <p class="mt-2"><b>Center Pixel</b></p>
                    <p id="coordinates"></p>
                    <p id="rgb-values"></p>
                    <p id="intensity"></p>
                </div>
                <div class="col">
                    <p class="mt-2"><b>Scope Info</b></p>
                    <p id="scope-info"></p>
                </div>
            </div>

            <hr>

            <div class="container text-center">
                <button class="btn btn-primary mt-2" type="submit" onclick="showHorizontallyFlippedImage()">
                    Flip horizontally
                </button>

                <button class="btn btn-primary mt-2" type="submit" onclick="showVerticallyFlippedImage()">
                    Flip vertically
                </button>

                <button class="btn btn-primary mt-2" type="submit" onclick="showEightPixelsBlurredImage()">
                    Blur by 8 pixels
                </button>

                <button class="btn btn-primary mt-2" type="submit" onclick="showFourPixelsBlurredImage()">
                    Blur by 4 pixels
                </button>
            </div>

            <p class="mt-4" id="processed-image-label"></p>

            <div class="image-container">
                <img class="img-fluid" src="" alt="" id="processed_image">
            </div>

            {% endif %}

            <!--
            <img class="img-fluid mx-auto" src="{{ plot }}" alt="" id="plot">
            -->

            <!--
            <form action="" method="POST">
                {% csrf_token %}
                <label for="maxValue" class="form-label mt-2">Max Value</label>
                {{ plot_form.max_value }}
                <input class="btn btn-primary mt-2" type="submit" value="Update">
            </form>
            -->

        </div>
        <div class="col"></div>
    </div>
</div>

<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js'></script>
<script src="{% static '../static/js/scope.js' %}"></script>
<script type="text/javascript">
    function showHorizontallyFlippedImage() {
        $("#processed_image").attr("src", "{{ horizontal_image }}");
        $('#processed-image-label').html('<b>Processed Image</b>');
    }

    function showVerticallyFlippedImage() {
        $("#processed_image").attr("src", "{{ vertical_image }}");
        $('#processed-image-label').html('<b>Processed Image</b>');
    }

    function showEightPixelsBlurredImage() {
        $("#processed_image").attr("src", "{{ eight_pixels_blurred_image }}");
        $('#processed-image-label').html('<b>Processed Image</b>');
    }

    function showFourPixelsBlurredImage() {
        $("#processed_image").attr("src", "{{ four_pixels_blurred_image }}");
        $('#processed-image-label').html('<b>Processed Image</b>');
    }

</script>
</body>
</html>